<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h3>INGREDIENTS</h3>
        <a href="{{ url_for('supply') }}">SUPPLY</a>
        <a href="{{ url_for('coffee') }}">COFFEE</a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <!-- <td>Item Code</td> -->
                    <th>Unit</th>
                    <th></th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for i in item %}
                <tr>
                    <td></td>
                    <td>{{i.unit}}</td>
                    <td>{{i.unit_quantity}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.cup_quantity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>